dummy.html
<!DOCTYPE html>
<html>
  <head>
    <title>Петруха</title>
    <meta property="og:title" content="Петруха">
    <meta property="og:description">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="build/css/main.css" rel="stylesheet">
    <script src="build/js/vendor/jquery-3.2.1.min.js"></script>
    <script src="build/js/vendor/jquery.ba-throttle-debounce.js"></script>
    <script src="https://cdn.rawgit.com/iserdmi/afterlag-js/2.0.2/dist/jquery.afterlag.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="build/img/svg/sprite.js"></script>
  </head>
  <body>
    <div class="svg-sprite"></div>
    <script>$('.svg-sprite').html(SVG_SPRITE);</script>
    <div class="layout layout--dummy">
      <div class="page page--undefined">
        <div class="page-content">
          <div class="l-container">
            <div class="dummy__title tp-heading--semi-big">Старт акции 1&nbsp;июля 2020 года</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

src/pug/dummy.pug
include ./mixins
doctype html
block page
  html
    head
      block head
        title= pageTitle ? pageTitle : settings.ogDefaults.title
        meta(property="og:title", content=pageTitle ? pageTitle : settings.ogDefaults.title)
        meta(property="og:description", content=pageDesc ? pageDesc : settings.ogDefaults.description)
        if settings.ogDefaults.image
          meta(property="og:image", content=pageImg ? pageImg : settings.ogDefaults.image)
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
        link(rel="shortcut icon" href="favicon.ico", type="image/x-icon")
        each item in settings.styles.head
          link(href=item, rel="stylesheet")
        link(href="build/css/main.css", rel="stylesheet")
        each item in settings.scripts.head
          script(src=item)
    body
      .svg-sprite
      script
        | $('.svg-sprite').html(SVG_SPRITE);
      .layout(class="layout--dummy")
        .page(class="page--" + currentPage)
          .page-content
            .l-container
              .dummy__title.tp-heading--semi-big !{pages.dummy.title}
